<div *ngIf="carregado; else carregando" class= "row">
    <div class="col-sm-3">
        <div class="wrapper">
            <nav id="sidebar">
                
            </nav>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="col-sm-12">
            <input type="text" class="form-control" id="nome" placeholder="Digite o nome" formControlName="nome">
        </div>
    </div>
</div>

<ng-template #carregando>
    <div class="d-flex justify-content-center">
        <div class="spinner-border m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>