<div class="row" *ngIf="carregado; else carregando" >

    <div class="col-sm-2">
        <a class="btn btn-outline-info" href="#" role="button">Home</a>
        <h3 style="text-align: center;"> Clientes </h3>
        <button type="button" class="btn btn-dark btn-lg btn-block" style="margin-top: 20%;"
            [routerLink]="['pessoas']">
            Pessoas
        </button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" style="margin-top: 10%;"
            [routerLink]="['empresas']">
            Empresas
        </button>
    </div>
    <div class="col-sm">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #carregando>
    <div class="d-flex justify-content-center">
        <div class="spinner-border m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>