<div class="row" *ngIf="carregado; else carregando">
    <div class="card col-lg" style="border: 1px;">
        <div class="card-header">
            <div class="float-left">
                <h4>Empresas</h4>
            </div>
            <div class="float-right">
                <button class="btn btn-primary" [routerLink]="['cadastrar']">Nova Empresa</button>
            </div>
        </div>
        <div class="card-body" style="overflow-y: scroll; height: 500px;">
            <table class="table table-hover" *ngIf="empresas$  | async as empresas; else loading">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Empresas</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empresa of empresas">
                        <td> {{ empresa.id }} </td>
                        <td> {{ empresa.nome }} </td>
                        <td>
                            <span class="float-right">
                                <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEditar(empresa.id)">
                                    Editar </button>

                                <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDeletar(empresa.id)">
                                    Remover
                                </button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ng-template #loading>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
<ng-template #carregando>
    <div class="d-flex justify-content-center">
        <div class="spinner-border m-5" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-template>

<ng-template #deletarModal>
    <div class="modal-body text-center">
        <p>Você tem certeza que quer deletar?</p>
        <button type="button" class="btn btn-default" (click)="confirmar()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="cancelar()">No</button>
    </div>
</ng-template>